<h1>Rock Paper Scissors</h1>
<form action="/display">
  <label for="player1"></label>
    <div class="radio">
      <label>
        <input type="radio" name="player1" value="rock">
        rock
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="player1" value="paper">
        paper
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="player1" value="scissors">
        scissors
      </label>
    </div>

    <label for="player2"></label>
      <div class="radio">
        <label>
          <input type="radio" name="player2" value="rock">
          rock
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="player2" value="paper">
          paper
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="player2" value="scissors">
          scissors
        </label>
      </div>

    <button type="submit" name="button">Let's Play!</button>
</form>
